{% extends 'base.html' %}

{% block title %}
Department
{% endblock %}

{% block content %}
<h1 class="text-center">Our Departments</h1>

{% for d in dept %}
<div class="container">
    <div class="row">
        <div class="col-md-6 bg-success text-center text-white p-3 my-4 border border-warnig rounded">
            <h1>{{d.dep_name}}</h1>
        </div>
        <div class="col-md-6 bg-success text-center text-white p-3 my-4 border border-warnig rounded">
            <p>{{d.dep_description}}</p>
        </div>
    </div>
</div>

<!--
<div class="mx-auto w-50 bg-success text-center text-white p-3 my-4 border border-warnig rounded">
    <h1>{{d.dep_name}}</h1>
    <p>{{d.dep_description}}</p>
</div>-->
{% endfor %}

{% endblock %}